.titleRainbow {
  display: inline-flex;
  gap: 0;
  flex-wrap: wrap;

  span {
    animation: fadeInUp 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(40px);
  }

  @for $i from 1 through 12 {
    span:nth-of-type(#{$i}) {
      animation-delay: #{300 + ($i - 1) * 30}ms;
    }
  }
}

.titleFirstPart,
.titleSecondPart {
  display: inline-block;
  animation: fadeInUp 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(40px);
}

.titleFirstPart {
  animation-delay: 200ms;
  margin-right: 0.25ch;
}

.titleSecondPart {
  animation-delay: 1100ms;
}

.subtitle,
.ctas,
.socialProof {
  animation: fadeInUp 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(40px);
}

.socialProof {
  animation-delay: 1350ms;
}

.subtitle {
  animation-delay: 1150ms;
}

.ctas {
  animation-delay: 1250ms;
  display: flex;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8 {
  animation: fadeIn 800ms cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scale(0.9);
}

$baseBlockDelay: 900ms;

.block1 {
  animation-delay: $baseBlockDelay;
}

.block2 {
  animation-delay: $baseBlockDelay + 100ms;
}

.block3 {
  animation-delay: $baseBlockDelay + 200ms;
}

.block4 {
  animation-delay: $baseBlockDelay + 300ms;
}

.block5 {
  animation-delay: $baseBlockDelay + 400ms;
}

.block6 {
  animation-delay: $baseBlockDelay + 500ms;
}

.block7 {
  animation-delay: $baseBlockDelay + 600ms;
}

.block8 {
  animation-delay: $baseBlockDelay + 700ms;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Taken from https://samuelkraft.com/blog/animated-music-bars */

.bars {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
  margin-right: 8px;
}

.bars.animate > span {
  transition: opacity 0.3s ease-out;
  animation: bounce 2.2s ease infinite alternate;
}

.bars > span {
  width: 3px;
  height: 100%;
  background-color: theme('colors.white');
  opacity: 0.7;
  border-radius: 3px;
  transform-origin: bottom;
  content: '';
  transform: scaleY(0.3);
}

.bars > span:nth-of-type(2) {
  animation-delay: -2.2s;
}

.bars > span:nth-of-type(3) {
  animation-delay: -3.7s;
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}
