@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-sys-bg-primary: 28 28 30;
    --color-sys-bg-secondary: 60 60 60;

    --color-sys-label-primary: 255 255 255;
    --color-sys-label-secondary: 200 200 200;
    --color-sys-label-tertiary: 255 255 255;
    --color-sys-label-quaternary: 255 255 255;
    --color-sys-label-positive: 22 163 74;
    --color-sys-label-negative: 220 38 38;
  }

  :root {
    --color-sys-bg-primary: 255 255 255;
    --color-sys-bg-secondary: 230 230 230;

    --color-sys-label-primary: 28 28 30;
    --color-sys-label-secondary: 40 40 40;
    --color-sys-label-tertiary: 255 255 255;
    --color-sys-label-quaternary: 255 255 255;
    --color-sys-label-positive: 22 163 74;
    --color-sys-label-negative: 220 38 38;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: system-ui, sans-serif;
}
