.title {
  display: flex;
  gap: 4px 8px;
  flex-wrap: wrap;

  @screen md {
    gap: 8px;
  }

  span {
    animation: fadeInUp 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(40px);
  }

  span:nth-of-type(1) {
    animation-delay: 500ms;
  }
  span:nth-of-type(2) {
    animation-delay: 600ms;
  }

  span:nth-of-type(3) {
    animation-delay: 650ms;
  }

  span:nth-of-type(4) {
    animation-delay: 700ms;
  }

  span:nth-of-type(5) {
    animation-delay: 750ms;
  }

  span:nth-of-type(6) {
    animation-delay: 800ms;
  }

  span:nth-of-type(7) {
    animation-delay: 850ms;
  }
}

.subtitle,
.ctas,
.socialProof {
  animation: fadeInUp 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(40px);
}

.socialProof {
  animation-delay: 450ms;
}

.subtitle {
  animation-delay: 850ms;
}

.ctas {
  animation-delay: 850ms;
  display: flex;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8 {
  animation: fadeIn 800ms cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scale(0.9);
}

$baseBlockDelay: 900ms;

.block1 {
  animation-delay: $baseBlockDelay;
}

.block2 {
  animation-delay: $baseBlockDelay + 100ms;
}

.block3 {
  animation-delay: $baseBlockDelay + 200ms;
}

.block4 {
  animation-delay: $baseBlockDelay + 300ms;
}

.block5 {
  animation-delay: $baseBlockDelay + 400ms;
}

.block6 {
  animation-delay: $baseBlockDelay + 500ms;
}

.block7 {
  animation-delay: $baseBlockDelay + 600ms;
}

.block8 {
  animation-delay: $baseBlockDelay + 700ms;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
